* {
  margin: 0%;
  padding: 0;
}
body {
  margin: 0%;
  padding: 0;
}

.home {
  position: relative;
  width: 100%;
  height: 853px;
  background: linear-gradient(to bottom right, #108ee8, #4b1cb0);
  top: -10px;
}
.welcome-text {
  position: relative;
  margin: auto;
  font-weight: bold;
  color: white;
  text-align: center;
  top: 20%;
}
.welcome-text h2 {
  font-weight: bold;
  font-size: 45px;
  font-family: "Lilita One", cursive;
}

.home-svg {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  top: 70px;
}
.intoduction {
  margin: auto;
  text-align: center;
}
.intoduction .into-heah {
  margin-top: 110px;
  font-weight: bold;
  color: white;
  font-size: 30px;
  font-family: "Cabin", sans-serif;
}
.intoduction .intro-text {
  color: white;
  padding: 15px;
  margin-top: 10px;
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}
.home-buttons {
  position: absolute;
  margin: auto;
}
a {
  text-decoration: none;
}

.more-about-me {
  position: relative;
  margin: auto;
  font-weight: bold;
  padding: 10px 20px;
  background: white;
  display: inline-block;
  text-decoration-line: none;
  color: black;
  border-radius: 19px;
  box-shadow: 3px 4px 0px rgba(165, 165, 165, 0.801);
}
.make-website {
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding: 10px 25px;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  background: #5cb85c;
  border-radius: 5px;
  box-shadow: 3px 4px 0px #3c963c;
  font-weight: bold;
}

.more-about-me:hover,
.make-website:hover {
  text-decoration: none;
}

/* -------------Section Style------------ */

#services {
  position: relative;
  margin-top: 60px;
  padding-bottom: 150px;
}

#services .headind {
  top: 10px;
  height: 60px;
  background: #ebebeb;
  border-radius: 5px;
  border-bottom: 3px solid rgb(85, 241, 70);
}

#services .headind:hover {
  animation: mymove 1s 1;
}

@keyframes mymove {
  0% {
    border-bottom: 3px solid rgb(85, 241, 70);
    box-shadow: 10px 0px 10px rgb(192, 192, 192, 0.6);
  }
  25% {
    border-bottom: 0px solid rgb(240, 94, 196);
    border-left: 3px solid rgb(85, 241, 70);
    box-shadow: 0px 10px 10px rgb(192, 192, 192, 0.6);
  }
  50% {
    border-bottom: 0px solid rgb(240, 94, 196);
    border-left: 0px solid rgb(240, 94, 196);
    border-top: 3px solid rgb(85, 241, 70);
    box-shadow: -10px 0px 10px rgb(192, 192, 192, 0.6);
  }
  100% {
    border-bottom: 0px solid rgb(240, 94, 196);
    border-left: 0px solid rgb(240, 94, 196);
    border-top: 0px solid rgb(240, 94, 196);
    border-right: 3px solid rgb(85, 241, 70);
    box-shadow: 0px -10px 10px rgb(192, 192, 192, 0.6);
  }
}

#services .headind h2 {
  position: relative;
  top: 10px;
  font-family: "Anton", sans-serif;
}

#services .services {
  height: 65%;
  margin-top: 50px;
}

#services .service {
  height: 400px;
  background: #ebebeb;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(139, 138, 138);
  transition: 0.4s;
  margin: auto;
}

#services .service:hover {
  box-shadow: 0px 0px 25px rgb(139, 138, 138);
}

#services .service .service-logo {
  margin: auto;
  height: 35%;
  background-position: center;
  margin-top: 5%;
}

#services .service .service-logo img {
}
#services .service h2 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
/*
#services .service .service-description {
  padding-top: 20px;
  color: rgb(71, 70, 70);
  font-family: "Roboto Mono", monospace;
}

#services .service .service-logo .wordpress {
  height: 150%;
  background-position: center;
} */
/* 
#services .contact-button {
  position: relative;
  left: 41%;
  top: 50px;
  text-decoration: none;
  padding: 15px 35px;
  background: rgb(106, 240, 106);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 40px;
  transition: 0.2s;
}
#services .contact-button:hover {
  background: rgb(92, 250, 92);
  box-shadow: 0px 0px 20px rgb(66, 224, 66, 0.7);
} */

@media only screen and (max-width: 768px) {
  /* +++++++++ For Mobile +++++++*/
  #services .headind {
    top: 20px;
    width: 75%;
    border-radius: 5px;
    border-bottom: 3px solid rgb(85, 241, 70);
  }
  #services .service {
    margin-top: 40px;
    width: 80%;
    height: 50%;
  }
  #services .service .service-logo {
    margin: auto;
    height: 35%;
    background-position: center;
    margin-top: 5%;
    width: 40%;
  }
}
@media only screen and (min-width: 600px) {
  /* ======== for Tablets ============ */
  #services .service {
    margin-top: 40px;
    width: 80%;
    height: 50%;
  }
  #services .service .service-logo {
    margin: auto;
    height: 35%;
    background-position: center;
    margin-top: 5%;
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  /* ======== for Desktop ============ */
  #services .service .service-logo {
    margin: auto;
    height: 45%;
    background-position: center;
    margin-top: 5%;
    width: 55%;
  }
}
